<ng-container *ngIf="metadata">
  <div class="w-full h-80 bg-contain bg-center bg-repeat border-gray-200 border-b"
       *ngIf="metadata.bgUrl"
       [style]="'background-image: url(' + metadata.bgUrl +')'"
  ></div>
  <section class="max-w-3xl flex flex-col mb-20 px-4 mx-auto min-h-screen">
    <header>
      <h1 class="text-5xl font-bold mt-16 mb-8">{{ metadata.title }}</h1>
      <div class="my-4 text-gray-500">
        <div class="flex items-center gap-2">{{ metadata.createdDate | date: 'longDate' : 'America/New_York' }}</div>
      </div>
      <div class="mt-5">
        <a [routerLink]="'/'" class="text-blue-600 hover:text-blue-500 transition ease-in-out duration-150">Go Back</a>
      </div>
    </header>
    <article class="my-4 pt-8 border-t border-gray-200 markdown-body">
      <markdown [src]="markdownUrl"></markdown>
      <br>
      Don't forget to follow me on <a href="https://twitter.com/andreestech" target="_blank" class="text-blue-600 hover:text-blue-500 transition ease-in-out duration-150">Twitter</a> for more insights, opinions, and statements.
    </article>
  </section>
</ng-container>
